page-list {
  ion-content {

    &:before {
        content: '';
        position: fixed;
        display: block;
        width: 100%;
        height: 105%;
        background-image: url('../../assets/imgs/bg-pattern.jpg');
        top: -2rem; 
        right: 0;
        opacity: .1;
    }

    .toolbar-md {
        min-height: inherit;

        .button-md-secondary.activeButton {
            background-color: #b48424;
        }
        ion-icon {
            color: #31432a;
                    
            &.activeButton {
                color: #f6a607;
            }          
        }
    }

    ion-list {
        margin-bottom: 1rem;
        
        .imgIcon {
            background-repeat: no-repeat;
            background-size: 2000% 2000%;
            background-position: center;
        }

        .item-wrapper.active-slide .item-md {
            background: #fff;
        }

        .item-md {
            padding-left: 0;

            ion-avatar[item-start] {
                margin-top: 0;
                margin-bottom: 0;

                div, img {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 0;
                    margin: .075rem;                    
                }
            }

            .badge-md {
                margin-right: 0;
                border: 1px solid #dcdcdc;
                color: #c5c5c5;
                font-weight: 100;

                & + div {
                    width: 5rem;
                    display: inline-block;
                    ion-icon {
                       float: right;
                    }
                }
            }

            ion-label {
                font-size: 1.4rem;
                line-height: 1.6rem;
            }

            ion-icon[item-end] {
                margin: 0;
            }
        } 
    }
 
  }
}
