se<ion-header>
  <ion-navbar><ion-title>{{ category }}</ion-title></ion-navbar>
</ion-header>

<ion-content>

    <p padding text-center *ngIf="listClothes.length == 0">No hay elementos</p>

    <ion-list padding-top [virtualScroll]="listClothes !== ''? listClothes : []" approxItemHeight="70px">
        <ion-item-sliding *virtualItem="let clothes" #slidingItem>
            <ion-item (click)="detailClothes(clothes)">
                <ion-avatar item-start>
                    <ng-container *ngIf="clothes.imgdetail !='' && clothes.imgdetail !== 'NULL'; else defaultImg">
                        <div [ngStyle]="{'background-image': 'url(' + urlImg + clothes.img + ')'}" class="imgIcon">
                        </div>
                    </ng-container>
                    <ng-template #defaultImg>
                        <img [src]="urlImg + '/noImg.png'" />
                    </ng-template>                  
                </ion-avatar>
                
                <ion-label text-wrap>{{ clothes.brand }}<span class="block colorTertiary">{{ clothes.store }}</span></ion-label>
                
                <div item-content>
                    <ion-badge color="secondary" item-end>{{ clothes.colour }}</ion-badge>
                    <ng-container *ngIf="clothes.state != ''; else SCnote">
                      <ng-container *ngFor="let star of clothes.state | times">
                          <ion-icon name="star" color="tertiary" item-end></ion-icon>  
                      </ng-container>                
                    </ng-container>
                    <ng-template #SCnote>
                        <ion-badge item-end>SC</ion-badge>
                    </ng-template>
                </div>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="tertiary" (click)="onEditionClothes(clothes, slidingItem)">
                    <ion-icon name="create"></ion-icon> Editar
                  </button>
                <button ion-button color="danger" (click)="onAlertDelete(clothes.id)">
                    <ion-icon name="trash"></ion-icon> Borrar
                </button>
            </ion-item-options>
            
        </ion-item-sliding>
    </ion-list>
  
</ion-content>
