<ion-header>
  <ion-navbar>
    <ion-title>Filtrar resultados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form #f="ngForm" (ngSubmit)="applyFilter(f)" ion-grid no-padding margin-bottom>
        <ion-row>
            <ion-col col-50>
                <ion-item>
                      <ion-label>Criterio</ion-label>
                      <ion-select name="filter" [(ngModel)]="filter">
                        <ion-option value="brand">Marca</ion-option>
                        <ion-option value="store">Tienda</ion-option>
                        <ion-option value="colour">Color</ion-option>
                        <ion-option value="state">Estado</ion-option>
                      </ion-select>
                </ion-item>        
            </ion-col>
            <ion-col col-50>
                <ion-item>
                    <ion-input type="text" [(ngModel)]="filterText" name="filterText" placeholder="Criterio" required *ngIf="filter == 'brand' || filter == 'store'"></ion-input>
                    
                    <ion-label *ngIf="filter == 'colour'">Color</ion-label>
                    <ion-select name="filterText" [(ngModel)]="filterText" required *ngIf="filter == 'colour'">
                      <ion-option value="white">Blanco</ion-option>
                      <ion-option value="red">Rojo</ion-option>
                      <ion-option value="blue">Azul</ion-option>
                      <ion-option value="grey">Gris</ion-option>
                      <ion-option value="green">Verde</ion-option>
                      <ion-option value="yellow">Amarillo</ion-option>
                      <ion-option value="purple">Púrpura</ion-option>
                      <ion-option value="pink">Rosa</ion-option>
                      <ion-option value="brown">Marrón</ion-option>
                      <ion-option value="orange">Naranja</ion-option>
                      <ion-option value="black">Negro</ion-option>
                    </ion-select>

                    <ion-label *ngIf="filter == 'state'">Estado</ion-label>
                    <ion-select name="filterText" [(ngModel)]="filterText" required *ngIf="filter == 'state'">
                      <ion-option value="1">Deficiente</ion-option>
                      <ion-option value="2">Regular</ion-option>
                      <ion-option value="3">Bueno</ion-option>
                      <ion-option value="4">Nuevo</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <button ion-button block type="submit" color="primary" [disabled]="!f.valid">Aplicar filtro</button>
    </form>

    <ion-list padding-top [virtualScroll]="listClothes !== ''? listClothes : []" approxItemHeight="70px">
        <ion-item-sliding *virtualItem="let clothes" #slidingItem>
            <ion-item (click)="detailClothes(clothes)">
                <ion-avatar item-start>
                    <ng-container *ngIf="clothes.imgdetail !='' && clothes.imgdetail !== 'NULL'; else defaultImg">
                        <div [ngStyle]="{'background-image': 'url(' + urlImg + clothes.img + ')'}" class="imgIcon">
                        </div>
                    </ng-container>
                    <ng-template #defaultImg>
                        <img [src]="urlImg + '/noImg.png'" />
                    </ng-template>                  
                </ion-avatar>
                
                <ion-label text-wrap>{{ clothes.brand }}
                    <span class="block colorTertiary">{{ clothes.store }}</span>
                </ion-label>
                
                <div item-content>
                    <ion-badge [ngStyle]="{'background-color': clothes.colourBadge}" >{{ clothes.colour }}</ion-badge>
                    <ng-container *ngIf="clothes.state != ''; else SCnote">
                      <div><ng-container *ngFor="let star of clothes.state | times">
                          <ion-icon name="star" color="tertiary" item-end></ion-icon>  
                      </ng-container></div>                
                    </ng-container>
                    <ng-template #SCnote>
                        <ion-badge item-end>SC</ion-badge>
                    </ng-template>
                </div>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="tertiary" (click)="onEditionClothes(clothes, slidingItem)">
                    <ion-icon name="create"></ion-icon> Editar
                  </button>
                <button ion-button color="danger" (click)="onAlertDelete(clothes.id)">
                    <ion-icon name="trash"></ion-icon> Borrar
                </button>
            </ion-item-options>
            
        </ion-item-sliding>
    </ion-list>

</ion-content>
