// COLORS
// Neutral
$color-n0: #000;
$color-n1: #333;
$color-n2: #868686;
$color-n3: #d1d1d1; 
$color-n4: #fafafa;

$color-theme1: #364461;
$color-theme2: #4D686F;
$color-theme3: #6D756A;
$color-theme4: #E3BA6A;
$color-theme5: #ae7911;

// FONTS
@font-face {
    font-family: "Medium";
    src:  url("#{$font-path}/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src:  url("#{$font-path}/Cinzel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Book";
    src:  url("#{$font-path}/AmaticSC-Bold.ttf") format("truetype");
}

$font-family-base: 'Medium', sans-serif;
$font-family-ios-base: $font-family-base;
$font-family-md-base:  $font-family-base;
$font-family-wp-base:  $font-family-base;

$font-bold: 'Bold', sans-serif;
$font-book: 'Book', sans-serif;
