page-detail {
  
    .scroll-content {
        background-color: #f3f3f3;
    }

    .frameImg {
        min-height: 20rem;

        .imgMain {
            width: 18rem;
            display: block;
            margin: 0 auto;
        }

        .imgDetail {
            width: 10rem;
            height: 10rem;
            position: absolute;
            top: 7rem;
            right: 1rem;
            border: 1px solid $color-theme4;
            overflow: hidden;

            img {
                max-width: initial;
                width: 40rem;
                margin-top: -17rem;
                margin-left: -17rem;
            }
        }      
    }

    p.mediumFont {
        background: #fff;
    }
    
    .item-md.item-block {
        background-color: #fff;
        
        .item-inner {
            border-bottom: none;

            .badge-md:not(.badge-md-secondary) {
                padding: 1rem;
            }

            ion-icon {
                font-size: 1.5rem;
                margin-top: 2rem;  
            }
            
        }
    }
}
